@using Microsoft.AspNetCore.Authorization
@model DTO.ModelViewsObjects.Pagination<DTO.ModelViewsObjects.CompanyDto>
@inject IAuthorizationService _authorizationService
@{
    ViewData["Title"] = "Home Page";
    int i = @Model.PageSize*(@Model.PageIndex-1)+1;
}
<nav class="navbar navbar-expand-md navbar-dark bg-dark">
    <div class="collapse navbar-collapse">
        <ul class="navbar-nav mr-auto top-list">
            <li class="nav-item top-btm"><a asp-action="Index" asp-route-top="top10"><button class="btn-group btn-list">TOP 10</button></a></li>
            <li class="nav-item top-btm"><a asp-action="Index" asp-route-top="top25"><button class="btn-group btn-list ">TOP 25</button></a></li>
            <li class="nav-item top-btm"><a asp-action="Index" asp-route-top="top50"><button class="btn-group btn-list ">TOP 50</button></a></li>
            <li class="nav-item active top-btm"><a asp-action="Index" asp-route-top="all"><button class="btn-group btn-list">All</button></a></li>
            @if (User.Identity.IsAuthenticated)
            {
                <li class="nav-item active top-btm"><a asp-controller="Company" asp-action="AddCompany"><button class="btn-group btn-list">Create New Company</button></a></li>
            }
        </ul>
        <form class="my-2 my-lg-0 search">
            <input class="form-control me-sm-2" type="text" placeholder="Search" aria-label="Search" name="SearchString" value="@Model.SearchString"/>
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
        </form>
    </div>   
</nav>

<div>
    <table class="table">
        <thead>
        <tr>
            <th>TOP</th>
            <th>Name</th>
            <th>Description</th>
            <th>Company Valution</th>
             @if (User.Identity.IsAuthenticated)
             {
                 <th>Edit</th>
                 <th>Delete</th>
             }
        </tr>
        </thead>
        <tbody>
        @foreach (var obj in Model)
        {
            <tr>
                <td>
                    @i
                    @{
                        i++;
                    }
                </td>
                <td>
                    <a asp-controller="Company" asp-action="GetCompanyById" asp-route-id="@obj.Id">@obj.Name</a>
                </td>
                <td>
                    @obj.Description
                </td>
                <td>
                    @obj.TotalAvg
                </td>
                @if (User.Identity.IsAuthenticated)
                {
                    <td>
                        <a asp-controller="Company" asp-action="EditCompany" asp-route-id="@obj.Id">Edit</a>
                    </td>
                    <td>
                        <a asp-controller="Company" asp-action="DeleteCompany" asp-route-id="@obj.Id">Delete</a>
                    </td>
                }
                
            </tr>
        }
        </tbody>
    </table>
    @{
        var prevDisabled = !Model.HasPrevPage ? "disabled" : "";
        var nextDisabled = !Model.HasNextPage ? "disabled" : "";
    }
    
    <a asp-action="Index"
       asp-route-top="@Model.Top"
       asp-route-pageNumber="@(Model.PageIndex - 1)"
       class="btn btn-default @prevDisabled">
        Previous
    </a>
    <a asp-action="Index"
       asp-route-top="@Model.Top"
       asp-route-pageNumber="@(Model.PageIndex + 1)"
       class="btn btn-default @nextDisabled">
        Next
    </a>
</div>

