@using System.Linq.Expressions
@model DTO.ModelViewsObjects.CompanyRateModelView 
@inject Microsoft.AspNetCore.Http.IHttpContextAccessor _httpContextAccessor
@{
    ViewData["Title"] = @Model.Company.Name;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <title>@Model.Company.Name</title>
</head>
<body>
<div>
    <h1>@Model.Company.Name</h1>
</div>
@{
    if (@Model.Rating.Id!=0)
    {
        <div>
            <h3>Your Rate</h3>
            <a asp-action="EditRating" asp-route-id="@Model.Rating.Id"><button>Change your Rate</button></a>
            <table>
                <thead>
                <tr>
                    <th>Grade 1</th>
                    <th>Grade 2</th>
                    <th>Grade 3</th>
                    <th>Grade 4</th>
                    <th>Grade 5</th>
                    <th>Total</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <th>@Model.Rating.Grade1</th>
                    <th>@Model.Rating.Grade2</th>
                    <th>@Model.Rating.Grade3</th>
                    <th>@Model.Rating.Grade4</th>
                    <th>@Model.Rating.Grade5</th>
                    <th>@Model.Rating.Total</th>
                </tr>
                </tbody>
            </table>
            <p>@Model.Rating.Text</p>
        </div>
    }
    else
    {
        <form asp-action="CompanyRate" asp-route-id="@Model.Company.Id" method="post" class="form-horizontal">
            <div class="form-group">  
                <label class="control-label">Grade1</label>  
                <input  max="5" min="1" asp-for="Rating.Grade1"  class="form-control" />  
                <span asp-validation-for="Rating.Grade1" class="text-danger"></span>  
            </div>  
            <div class="form-group">  
                <label class="control-label">Grade2</label>  
                <input max="5" min="1" asp-for="Rating.Grade2" class="form-control" />  
                <span asp-validation-for="Rating.Grade2" class="text-danger"></span>  
            </div>  
            <div class="form-group">  
                <label class="control-label">Grade3</label>  
                <input max="5" min="1" asp-for="Rating.Grade3" class="form-control" />  
                <span asp-validation-for="Rating.Grade3" class="text-danger"></span>  
            </div>  
            <div class="form-group">  
                <label class="control-label">Grade4</label>  
                <input max="5" min="1" asp-for="Rating.Grade4" class="form-control" />  
                <span asp-validation-for="Rating.Grade4" class="text-danger"></span>  
            </div>  
            <div class="form-group">  
                <label class="control-label">Grade5</label>  
                <input max="5" min="1" asp-for="Rating.Grade5" class="form-control" />  
                <span asp-validation-for="Rating.Grade5" class="text-danger"></span>  
            </div>  
            <div class="form-group">
                <label class="control-label">Comment</label>
                <input asp-for="Rating.Text" class="form-control"/>
            </div>
            <div class="form-group">  
                <input type="submit" value="Submit" class="btn bg-primary" />  
  
            </div>  
        </form>
    }
}

<div>
    @foreach (var rating in @Model.Company.Ratings)
    {
        <div>
            @{
                try
                {
                    <h4>@rating.Author.Nickname</h4>
                }
                catch(Exception e)
                {
                    <p>@e</p>
                }
            }
        </div>
        <div>
            <table>
                <thead>
                <tr>
                    <th>Grade 1</th>
                    <th>Grade 2</th>
                    <th>Grade 3</th>
                    <th>Grade 4</th>
                    <th>Grade 5</th>
                    <th>Total</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <th>@rating.Grade1</th>
                    <th>@rating.Grade2</th>
                    <th>@rating.Grade3</th>
                    <th>@rating.Grade4</th>
                    <th>@rating.Grade5</th>
                    <th>@rating.Total</th>
                </tr>
                </tbody>
            </table>
            <p>@rating.Text</p>
        </div>                                     
    }
</div>
</body>
</html>