@using System.Linq.Expressions
@model DTO.ModelViewsObjects.CompanyRateModelView 
@inject Microsoft.AspNetCore.Http.IHttpContextAccessor _httpContextAccessor
@{
    ViewData["Title"] = @Model.Company.Name;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <title>@Model.Company.Name</title>
</head>
<body>
<div>
    <h1>@Model.Company.Name</h1>
</div>
<div>
    <h5>Description</h5>
    <p>@Model.Company.Description</p>
</div>
<div>
    <h5>Overall rating</h5>
    <table class="table">
        <thead>
        <tr>
            <th>Compensation</th>
            <th>Working conditions</th>
            <th>Career</th>
            <th>Project</th>
            <th>Loyalty</th>
            <th>Total</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <th>@Model.Company.Grade1Avg</th>
            <th>@Model.Company.Grade2Avg</th>
            <th>@Model.Company.Grade3Avg</th>
            <th>@Model.Company.Grade4Avg</th>
            <th>@Model.Company.Grade5Avg</th>
            <th>@Model.Company.TotalAvg</th>
        </tr>
        </tbody>
    </table>
</div>
@{
    if (@Model.Rating.Id!=null)
    {
        <div class="rate">
            <div class="block1">
                <h3>Your Rate</h3>
            </div>
            <div class="block2">
                <a asp-controller="Rating" asp-action="EditRating" asp-route-id="@Model.Rating.Id"><button class="btn btn-outline-secondary">Change your Rate</button></a>
            </div>
            
            <table class="table your-rate-table">
                <thead>
                <tr>
                    <th>Compensation</th>
                    <th>Working conditions</th>
                    <th>Career</th>
                    <th>Project</th>
                    <th>Loyalty</th>
                    <th>Total</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <th>@Model.Rating.Grade1</th>
                    <th>@Model.Rating.Grade2</th>
                    <th>@Model.Rating.Grade3</th>
                    <th>@Model.Rating.Grade4</th>
                    <th>@Model.Rating.Grade5</th>
                    <th>@Model.Rating.Total</th>
                </tr>
                </tbody>
            </table>
            <p>@Model.Rating.Text</p>
        </div>
    }
    else
    {
        <h4>Rate Company</h4>
        <form asp-action="AddCompanyRate" asp-route-id="@Model.Company.Id" method="post" class="form-horizontal">
            <input type="hidden" asp-for="Rating.CompanyId" />
            <div class="row grades">
                <div class="form-group col-md-2">
                                <label class="control-label">Compensation</label>
                                <select class="form-control" asp-for="Rating.Grade1">
                                    <option>1</option>
                                    <option>2</option>
                                    <option>3</option>
                                    <option>4</option>
                                    <option>5</option>
                                </select>
                                <span asp-validation-for="Rating.Grade1" class="text-danger"></span>
                            </div>
                            <div class="form-group col-md-2">
                                <label class="control-label">Working conditions</label>
                                <select class="form-control" asp-for="Rating.Grade2">
                                    <option>1</option>
                                    <option>2</option>
                                    <option>3</option>
                                    <option>4</option>
                                    <option>5</option>
                                </select>
                                <span asp-validation-for="Rating.Grade2" class="text-danger"></span>
                            </div>
                            <div class="form-group col-md-2">
                                <label class="control-label">Career</label>
                                <select class="form-control" asp-for="Rating.Grade3">
                                    <option>1</option>
                                    <option>2</option>
                                    <option>3</option>
                                    <option>4</option>
                                    <option>5</option>
                                </select>
                                <span asp-validation-for="Rating.Grade3" class="text-danger"></span>
                            </div>
                            <div class="form-group col-md-2">
                                <label class="control-label">Project</label>
                                <select class="form-control" asp-for="Rating.Grade4">
                                    <option>1</option>
                                    <option>2</option>
                                    <option>3</option>
                                    <option>4</option>
                                    <option>5</option>
                                </select>
                                <span asp-validation-for="Rating.Grade4" class="text-danger"></span>
                            </div>
                            <div class="form-group col-md-2">
                                <label class="control-label">Loyalty</label>
                                <select class="form-control" asp-for="Rating.Grade5">
                                    <option>1</option>
                                    <option>2</option>
                                    <option>3</option>
                                    <option>4</option>
                                    <option>5</option>
                                </select>
                                <span asp-validation-for="Rating.Grade5" class="text-danger"></span>
                            </div>
            </div>
            
            <div class="form-group">
                <label class="control-label">Comment</label>
                <input asp-for="Rating.Text" class="form-control"/>
            </div>
            <div class="form-group rate">
                <input type="submit" value="Rate" class="btn bg-primary"/>

            </div>
        </form>
    }
}
<div><h3 class="text-center">All Grades</h3></div>
@foreach (var rating in @Model.Company.Ratings)
    {
        <div class="rate">
            <div class="block1">
                <h4>User: @rating.User.Nickname</h4>
            </div>
            <div class="block2">
                <p class="datetime">@rating.DateTime</p>
            </div>
            
        
        <div >
            <table class="table table-dark">
                <thead>
                <tr>
                    <th>Compensation</th>
                    <th>Working conditions</th>
                    <th>Career</th>
                    <th>Project</th>
                    <th>Loyalty</th>
                    <th>Total</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <th>@rating.Grade1</th>
                    <th>@rating.Grade2</th>
                    <th>@rating.Grade3</th>
                    <th>@rating.Grade4</th>
                    <th>@rating.Grade5</th>
                    <th>@rating.Total</th>
                </tr>
                </tbody>
            </table>
            
            @if (rating.Text != "")
            {
                <h4>Comment</h4>
                <p>@rating.Text</p>
            }
            
        </div>   
            </div>
            }

</body>
</html>